name: Publish Dna Store Package
# on:
#   release:
#     types: [published]
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
          source-url: https://nuget.pkg.github.com/<owner|organization>/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_API_KEY}}
      - name: Build project
        run: dotnet build --configuration Release
      - name: Create the package
        run: dotnet pack --configuration Release
      - name: Publish the Base to GPR
        run: dotnet nuget push Base/bin/Release/*.nupkg
      - name: Publish the BioMath to GPR
        run: dotnet nuget push BioMath/bin/Release/*.nupkg
      - name: Publish the Clients to GPR
        run: dotnet nuget push Clients/bin/Release/*.nupkg
      - name: Publish the Sequence to GPR
        run: dotnet nuget push Sequence/bin/Release/*.nupkg